<div class="modal-content">
  <div *ngIf="!emailSent" class="modal-body p-4">
    <div class="d-flex flex-column gap-3">
      <div>
        Para recuperar tu contraseña, ingresa el correo electronico asociado a tu cuenta
      </div>
      <form #formEmail="ngForm" (ngSubmit)="enviarCorreo()">
        <div class="mb-3">
          <input
            [(ngModel)]="correo"
            placeholder="Correo electronico"
            email="true"
            class="form-control w-100"
            name="emailUsuario"
            id="emailUsuario"
            [ngClass]="{'invalid': formEmail.invalid && formEmail.submitted}"
            required
          >
          <div *ngIf="formEmail.controls['emailUsuario']?.errors?.['notFound']" class="form-text text-red">
            No existe un usuario registrado con el correo ingresado
          </div>
        </div>
        <div>
          <button *ngIf="!loading" type="submit" class="btn btn-primary">
            Enviar
          </button>
          <button *ngIf="loading" class="btn btn-primary" type="submit" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Enviando..
          </button>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="emailSent && !codeSent" class="modal-body p-4">
    <div>
      <div class="mb-3">
        A continuacion ingresa el codigo que te acabamos de enviar a el correo que ingresaste.
        El mensaje puede tardar unos minutos
      </div>
      <div class="d-flex flex-column gap-3">
        <form #formCode="ngForm" (ngSubmit)="enviarCodigo()">
          <div class="mb-3">
            <input
              [(ngModel)]="codigoSeguridad"
              placeholder="Codigo de seguridad"
              type="text"
              class="form-control w-100"
              name="codigoEmail"
              id="codigoEmail"
              [ngClass]="{'invalid': formCode.invalid && formCode.submitted}"
              required
            >
            <div *ngIf="formCode.controls['codigoEmail']?.errors?.['invalid']" class="form-text text-red">
              El codigo ingresado es invalido
            </div>
          </div>
          <div>
            <button *ngIf="!loading" type="submit" class="btn btn-primary">
              Enviar
            </button>
            <button *ngIf="loading" class="btn btn-primary" type="submit" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Verificando..
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div *ngIf="codeSent" class="modal-body p-4">
    <div>
      <div class="mb-3">
        Rellena los campos a continuación para reestablecer tu contraseña
      </div>
      <div class="d-flex flex-column gap-3">
        <form #formPassword="ngForm" (ngSubmit)="cambiarClave()">
          <div class="mb-3">
            <label for="newPassword" class="form-label">Nueva contraseña</label>
            <input
              [(ngModel)]="nuevaClave"
              type="password"
              minlength="8"
              class="form-control w-100"
              name="newPassword"
              id="newPassword"
              [ngClass]="{'invalid': formPassword.invalid && formPassword.submitted}"
              required
            >
            <div class="form-text">La contraseña debe tener minimo 8 caracteres</div>
          </div>
          <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirmar contraseña</label>
            <input
              [(ngModel)]="confirmarClave"
              type="password"
              class="form-control w-100"
              name="confirmPassword"
              id="confirmPassword"
              [ngClass]="{'invalid': formPassword.invalid && formPassword.submitted}"
              required
            >
            <div *ngIf="formPassword.controls['confirmPassword']?.errors?.['notEqual']" class="form-text text-red">
              Las contraseñas ingresadas no son iguales
            </div>
          </div>
          <button type="submit" class="btn btn-primary w-50">
            <<button *ngIf="!loading" type="submit" class="btn btn-primary">
              Guardar
            </button>
            <button *ngIf="loading" class="btn btn-primary" type="submit" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Guardando...
            </button>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
