<!-- Modal -->
<div class="modal fade" id="recuperarModal" tabindex="-1" aria-labelledby="recuperarLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="recuperarLabel">Recuperar mi contraseña</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div *ngIf="!emailSent" class="modal-body p-5">
        <div class="d-flex flex-column gap-3">
          <div>
            Para recuperar tu contraseña, ingresa el correo electronico asociado a tu cuenta:
          </div>
          <div>
            <input type="text" placeholder="Correo electronico" class="form-control w-100" name="recoverEmail" id="recoverEmail">
          </div>
          <div>
            <button type="button" class="btn btn-primary" (click)="recoverPassword()">Enviar</button>
          </div>
        </div>
      </div>
      <div *ngIf="emailSent" class="modal-body p-5">
        <div>
          <div class="mb-3">
            A continuacion ingresa el codigo que te acabamos de enviar a el correo que ingresaste. El mensaje puede tardar unos minutos
          </div>
          <div class="d-flex flex-column gap-3">
            <input type="text" placeholder="Correo electronico" class="form-control w-100" name="recoverEmail" id="recoverEmail">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
