<p-toast key="toastmonitorias"></p-toast>

<div class="row p-4">
  <div class="card shadow border-0 p-5">
    <div class="row">
      <div class="col">
        <h3 class="text-center fw-bold">Monitorias activas</h3>
        <div class="d-flex border-box py-2">
          <button
            type="button"
            class="btn btn-primary"
            (click)="showModalMonitoria()"
          >
            <i class="bi-plus-lg me-1"></i>
            Crear monitoria
          </button>
        </div>
        <div class="mt-3">
          <div class="d-flex justify-content-center">
            <p-progressSpinner *ngIf="loading" [style]="{'height':'3rem'}"></p-progressSpinner>
          </div>
          <div *ngFor="let monitoria of monitorias" class="bubble-container row my-3 shadow-sm">
            <div class="col-11 bubble">
              <div class="col-8 bubble-info">
                <h4 class="fw-bold">
                  {{ monitoria.course }}
                </h4>
                <div class="text-secondary">
                  {{ monitoria.description }}
                </div>
              </div>
              <div class="col-2 bubble-details">
                <div class="field">
                  <label class="text-modalidad">
                    <i class="bi-book"></i>
                    Modalidad
                  </label>
                  <div> {{ monitoria.modality }}</div>
                </div>
                <div class="field">
                  <label class="text-precio">
                    <i class="bi-currency-dollar"></i>
                    Precio por hora
                  </label>
                  <div>{{ monitoria.price | currency }}</div>
                </div>
              </div>
              <div class="col-2 bubble-extras">
                <div class="field">
                  <label class="text-visitas">
                    <i class="bi-person-fill"></i>
                    Visitas
                  </label>
                  <div>{{ monitoria.views }}</div>
                </div>
                <div class="field">
                  <label class="text-solicitudes">
                    <i class="bi-bookmark-fill"></i>
                    Solicitudes
                  </label>
                  <div>{{ monitoria.request }}</div>
                </div>
              </div>
            </div>
            <div class="col-1 bubble-actions dropdown-center">
                <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi-three-dots-vertical"></i>
                </a>
                <ul class="dropdown-menu shadow">
                  <li>
                    <a
                      class="dropdown-item"
                      type="button"
                      (click)="showModalMonitoria(monitoria)"
                    >
                      <i class="bi-pencil"></i>Editar
                    </a>
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      type="button"
                      (click)="showModalEliminar(monitoria.id)"
                    >
                      <i class="bi-eraser"></i>Eliminar
                    </a>
                  </li>
                </ul>
            </div>
          </div>
          <div class="empty-message" *ngIf="monitorias.length === 0 && !loading">
            <span>Parece que aun no has creado ninguna monitoria, haz click en <strong>"Crear monitoria"</strong> para comenzar</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
