<app-navbar></app-navbar>
<div class="main-content">
  <div class="container">
    <div class="d-flex flex-column col-8 gap-3">
      <p class="fs-1">
        Estudiante de canto lírico da clases virtuales y presenciales de técnica vocal en Bogotá.
      </p>
      <h2>Lugar de las clases</h2>
      <div class="d-flex gap-3">
        <span class="badge rounded-pill text-bg-primary fs-6">Presencial</span>
        <span class="badge rounded-pill text-bg-primary fs-6">Virtual</span>
      </div>
      <div class="bg-info-subtle p-3 rounded-4">
        <h3>Embajador</h3>
        <p>Este profesor/a sobresale dentro de su materia. Tiene un perfil de calidad, excelencia en su diploma,
           responde rápidamente. Valentina organizará con mucho cuidado tu primera clase de Canto.</p>
      </div>
      <h2>Acerca de Valentina</h2>
      <p>
        Soy estudiante de canto de la Universidad Nacional de Colombia y hago parte de diferentes coros en Bogota.
        Soy profesora de canto hace aproximadamente 4 años.
        Enseño a personas de todas las edades que deseen aprender.
        Cualquier persona puede aprender a cantar.
      </p>
      <h2>Acerca de la clase</h2>
      <div class="d-flex gap-3">
        <span class="badge rounded-pill text-bg-primary fs-6">Cafeteria</span>
        <span class="badge rounded-pill text-bg-primary fs-6">Virtual</span>
      </div>
      <p>
        Mi método de enseñanza es dar las bases necesarias en las primeras clases (respiración, manejo del cuerpo como instrumento, afinación, entonación, etc.) para que el estudiante también realice un trabajo autónomo en casa (con el apoyo de un drive donde pueden encontrar el material con audios e imágenes).
        se envían videos semanales como algo adicional para que la persona pueda conocer diferentes instrumentos, géneros y músicos que podemos tener como referencia.
      </p>
      <div class="d-flex justify-content-end">
        <span>Calificacion: 4.5</span>
      </div>

      <h2>Precios</h2>
      <div class="row row-cols-4">
        <div class="col">

        </div>
        <div class="col">

        </div>
        <div class="col">

        </div>
        <div class="col">

        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
