<div
  class="modal fade"
  id="eliminarMonitoria"
  tabindex="-1"
  aria-labelledby="eliminarMonitoria"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content py-3 px-4">
      <div class="modal-header">
        <h1 class="modal-title fs-5 fw-bold" id="exampleModalLabel">Confirmar eliminación</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Esta a punto de eliminar una monitoria y toda su informacion de manera irreversible</p>
        <p>¿Está seguro que desea continuar?</p>
      </div>
      <div class="d-flex justify-content-evenly">
        <button type="button" class="btn btn-danger btn-confirm">Aceptar</button>
        <button type="button" class="btn btn-secondary btn-confirm" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
