<div class="main-content">
  <div class="container">
    <div class="col-12 col-lg-6 mx-auto">
      <div class="search-bar">
        <div class="search-bar-input">
          <input type="text" id="search" placeholder="Buscar asignatura" autocomplete="no"/>
        </div>
        <div class="search-bar-icon">
          <button type="button" class="btn btn-primary">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 my-4">
      <div *ngFor="let monitoria of monitorias" class="col">
        <div class="card card-clickable rounded-5">
          <img [src]="monitorPicture" class="card-img-top rounded-top-5 ">
          <div class="card-body">
            <h3 class="card-title">{{ monitoria.id }}</h3>
            <h6 class="card-subtitle">{{ monitoria.course }}</h6>
            <p class="card-text">{{ monitoria.description }}</p>
            <a [routerLink]="['./monitor/',monitoria.id]" class="stretched-link"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


