<div *ngIf="loading" class="row gap-4 p-4">
  <div class="col">
    <p-skeleton width="100%" height="40rem"></p-skeleton>
  </div>
  <div class="col">
    <p-skeleton width="100%" height="40rem"></p-skeleton>
  </div>
</div>
<div *ngIf="!loading" class="row gap-4 p-4">
  <section *ngIf="user?.document" class="col-12 col-lg card p-4 shadow h-50">
    <h4 class="fw-bold mb-3">Foto de perfil</h4>
    <div class="d-flex flex-column align-items-center">
      <div
        class="rounded-circle profile-picture"
        [style]="{'background-image': 'url(' + userImage + ')'}"
      >
        <div class="rounded-circle edit-icon-container">
          <p-fileUpload
            #profileImg
            id="fileUpload"
            name="profileUpload"
            chooseIcon="bi-pencil-fill"
            [auto]="true"
            styleClass="rounded-circle"
            [style]="{'padding': '15px 25px'}"
            [fileLimit]="1"
            mode="basic"
            name="demo[]"
            accept="image/*"
            [maxFileSize]="1000000"
            (onSelect)="onSelect($event)"
            [customUpload]="true"
          >
          </p-fileUpload>
        </div>
      </div>
      <p class="text-secondary mt-3">
        Esta sera la foto que podran ver los estudiantes al entrar a tus monitorias
      </p>
    </div>
  </section>
  <section class="col-12 col-lg card p-4 shadow">
    <h4 class="mb-4 fw-bold">Información general</h4>
    <form [formGroup]="userFormGroup" #userForm="ngForm" (ngSubmit)="updateUser()">
      <div class="mb-3">
        <label for="name" class="form-label">
          Nombre
        </label>
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
        >
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">
          Apellido
        </label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          formControlName="lastName"
        >
      </div>
      <div class="mb-3">
        <label for="correo" class="form-label">
          Correo electronico
        </label>
        <input
          type="text"
          class="form-control"
          id="email"
          formControlName="email"
        >
        <div *ngIf="userFormGroup.controls['email']?.errors?.['email'] && userForm.submitted" class="invalid-text">
          El correo ingresado es invalido
        </div>
        <div *ngIf="userFormGroup.controls['email']?.errors?.['emailTaken']" class="invalid-text">
          Ya existe un usuario con el correo ingresado
        </div>
      </div>
      <div *ngIf="user?.document">
        <div class="mb-3">
          <label for="description" class="form-label">
            Celular
          </label>
          <input
            type="tel"
            formControlName="phone_number"
            id="phone_number"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">
            Descripcion sobre ti
          </label>
          <textarea
            rows="5"
            cols="30"
            class="w-100"
            pInputTextarea
            id="descripcion"
            formControlName="description"
          ></textarea>
        </div>
      </div>
      <div class="mb-3">
        <div *ngIf="userUpdated" class="success-message">
          Los datos del usuario han sido modificados!
        </div>
      </div>
      <button *ngIf="!updatingUser" type="submit" class="btn btn-primary">
        Guardar
      </button>
      <button *ngIf="updatingUser" class="btn btn-primary" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Guardando...
      </button>
    </form>
  </section>
  <section class="col-12 col-lg card p-4 shadow">
    <div>
      <h4 class="mb-3 fw-bold">Cambiar contraseña</h4>
      <form [formGroup]="passwordFormGroup" #passwordForm="ngForm" (ngSubmit)="changePassword()">
        <div class="mb-3">
          <label for="password" class="form-label">
            Contraseña actual
          </label>
          <input
            type="text"
            class="form-control"
            id="password"
            formControlName="password"
          >
          <div *ngIf="passwordFormGroup.controls['password'].errors?.['invalidPassword']" class="invalid-text">
            La contraseña ingresada no coincide
          </div>
        </div>
        <div class="mb-3">
          <label for="newPassword" class="form-label">
            Nueva Contraseña
          </label>
          <input
            type="text"
            class="form-control"
            id="newPassword"
            formControlName="newPassword"
            minlength="8"
          >
          <div *ngIf="passwordFormGroup.controls['newPassword'].errors?.['minlength'] && passwordForm.submitted" class="invalid-text">
            La contraseña debe tener más de 8 caracteres
          </div>
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="form-label">
            Confirmar contraseña
          </label>
          <input
            type="text"
            class="form-control"
            id="confirmPassword"
            formControlName="confirmPassword"
          >
          <div *ngIf="passwordFormGroup.controls['confirmPassword'].errors?.['notEqual']" class="invalid-text">
            Las contraseñas deben ser iguales
          </div>
        </div>
        <div class="mb-3">
          <div *ngIf="passwordChanged" class="success-message">
            La contraseña ha sido modificada!
          </div>
        </div>
        <button *ngIf="!changingPassword" type="submit" class="btn btn-primary">
          Cambiar
        </button>
        <button *ngIf="changingPassword" class="btn btn-primary" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Guardando...
        </button>
      </form>
    </div>
    <div class="mt-4">
      <h4 class="mb-3 fw-bold">
        Eliminar cuenta
      </h4>
      <p>
        ¡CUIDADO! Todos tus datos serán eliminados definitivamente y de manera irreversible.
        ¿Estas seguro que deseas continuar?
      </p>
      <div class="form-check custom-check" style="background-color: #f7f7f7" [ngClass]="{'delete-account': deleteCheck}">
        <input
          class="form-check-input"
          type="checkbox"
          name="deleteCheck"
          id="deleteCheck"
          [(ngModel)]="deleteCheck"
        >
        <label class="form-check-label w-100" for="deleteCheck">
          Eliminar mi cuenta
        </label>
      </div>
      <button
        *ngIf="!deleting"
        type="button"
        class="btn btn-primary mt-3"
        [disabled]="!deleteCheck"
        (click)="deleteUser()"
      >
        Aceptar
      </button>
      <button
        *ngIf="deleting"
        class="btn btn-primary mt-3"
        type="button"
        disabled
      >
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Eliminando...
      </button>
    </div>
  </section>
</div>
