<app-navbar></app-navbar>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg">
        <div class="inscription-message my-4">
          <h1 class="fw-bold message-title">Comparte tu conocimiento!</h1>
          <p class="fs-5">
            Ayuda a los demas a alcanzar sus metas académicas mientras te enriqueces personal
            y profesionalmente como parte de nuestra comunidad.
          </p>
          <p class="fs-5">
            No esperes más para marcar una diferencia en la vida de los estudiantes
          </p>
        </div>
        <div class="card p-5 shadow">
          <form>
            <div class="mb-3">
              <label for="document" class="form-label">Número de documento</label>
              <input type="text" class="form-control" id="document">
            </div>
            <div class="mb-3">
              <label for="phoneNumber" class="form-label">Celular</label>
              <input type="tel" class="form-control" id="phoneNumber">
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Descripción de ti</label>
              <textarea class="form-control" id="descripcion" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Inscribirse</button>
          </form>
        </div>
      </div>
      <div class="col image-container">
        <img class="img-fluid" src="assets/img/background-test.png" alt="monitor">
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
