<app-navbar></app-navbar>
  <div class="main-content">
    <div class="container">
      <div class="row px-5">
        <ul class="nav nav-underline">
          <li class="nav-item">
            <a
            class="nav-link active"
            id="nav-micuenta-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-micuenta"
            type="button"
            role="tab"
            aria-controls="nav-micuenta"
            aria-selected="true">
              Mi cuenta
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              Mis mensajes
            </a>
          </li>
          <li class="nav-item" *ngIf="usuario?.document">
            <a
              class="nav-link"
              id="nav-monitorias-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-monitorias"
              type="button"
              role="tab"
              aria-controls="nav-monitorias"
              aria-selected="false"
            >
              Mis monitorias
            </a>
          </li>
        </ul>
      </div>
      <div class="tab-content" id="nav-tabContent">
        <app-detalles-usuario
          class="tab-pane fade show active"
          id="nav-micuenta"
          role="tabpanel"
          aria-labelledby="nav-micuenta-tab"
        ></app-detalles-usuario>
        <app-mis-monitorias
          class="tab-pane fade"
          id="nav-monitorias"
          role="tabpanel"
          aria-labelledby="nav-monitorias-tab"
        ></app-mis-monitorias>
    </div>
    </div>
  </div>
<app-footer></app-footer>
