nav {
  user-select: none;
  background-color: #fff;
}

.navbar-brand > img {
  height: 100%;
  width: 10rem;
}

.nav-login {
  color: #4FA8FF !important;
}

.nav-item {
  border-radius: 1rem;
  transition: .3s background-color;
}

.nav-item:hover {
  background-color: #ececec;
}

.nav-item:active {
  background-color: #dddddd;
}

.dropdown-menu {
  width: 15rem;
  border-radius: 1rem;
}

.dropdown-menu li {
  width: 100%;
  padding: 0 5px;
}

.dropdown-item {
  padding: .8rem 2rem;
  border-radius: 2rem;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0.25rem #4FA8FF;
}

.nav-link {
  padding-left: 10px;
  padding-right: 10px;
}
