.search-bar-icon {
  background-color: #ffffff;
  border: none;
}

.search-bar-input {
  border: none;
}

.search-bar-input:focus{
  box-shadow: none;
}

.heading-sub {
  font-size: 1.4rem;
}

.grid-icon {
  height: 5rem;
}

body{
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(79,150,255,0.2497373949579832) 100%);
}
