.search-bar-icon {
  background-color: #ffffff;
  border: none;
}

.search-bar-input {
  border: none;
}

.search-bar-input:focus{
  box-shadow: none;
}

.heading-sub {
  font-size: 1.4rem;
}

.grid-icon {
  height: 5rem;
}

.navbar-brand > img {
  height: 100%;
  width: 10rem;
}

.nav-login > a{
  color: #4FA8FF;
}
