.search-bar-icon {
  background-color: #ffffff;
  border: none;
}

.search-bar-input {
  border: none;
}

.search-bar-input:focus{
  box-shadow: none;
}

.heading-sub {
  font-size: 1.4rem;
}

.grid-icon {
  height: 5rem;
}

.showcase {
  background-color: #e1f0ff;
}

.card {
  border-radius: .7rem;
}
