<!-- Footer -->
<footer class="text-center" style="background-color: #fff" >
  <!-- Grid container -->
  <div class="container">
    <!-- Section: Links -->
    <section class="">
      <!-- Grid row-->
      <div class="row d-flex justify-content-center align-items-center py-4">
        <!-- Grid column -->
        <div class="col-md-2 py-4 footer-item">
          <h6 class="text-uppercase">
            <a href="#!" class="text-black fw-bold">Monitorias</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 footer-item">
          <h6 class="text-uppercase fw-bold">
            <a href="#!" class="text-black">Sobre nosotros</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 footer-item">
          <h6 class="text-uppercase fw-bold">
            <a href="#!" class="text-black">Politicas</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 footer-item">
          <h6 class="text-uppercase fw-bold">
            <a href="#!" class="text-black">Nuestros valores</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 footer-item">
          <h6 class="text-uppercase fw-bold">
            <a href="#!" class="text-black">Contacto</a>
          </h6>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </section>
    <!-- Section: Links -->

    <hr class="my-2" />

    <!-- Section: Text -->
    <section class="mb-5">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
            distinctio earum repellat quaerat voluptatibus placeat nam,
            commodi optio pariatur est quia magnam eum harum corrupti
            dicta, aliquam sequi voluptate quas.
          </p>
        </div>
      </div>
    </section>
    <!-- Section: Text -->

    <!-- Section: Social -->
    <section class="text-center mb-5">
      <a href="" class="text-black me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="text-black me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="text-black me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="text-black me-4">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="text-black me-4">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="text-black me-4">
        <i class="fab fa-github"></i>
      </a>
    </section>
    <!-- Section: Social -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 text-white" style="background-color: #4f96ff;">
    © 2023 Monitor - Todos los derechos reservados
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
